@media screen and (min-width: 360px) and (max-width: 560px) {

    .header-categories{
        width: 100%;
    }
    
    .cards-list {
        flex-wrap: wrap;
    }

    .custom-card {
        flex: 0 0 auto;
        width: 48%;
    }

    .credit > * {
        display: block;
    }

    .modal-title {
        font-weight: 600;
        font-size: 23px;
        letter-spacing: -0.02em;
        color: #EBEEF5;
    }
    
}

@media screen and (min-width: 561px) and (max-width: 759px) {
    .header-categories{
        width: 100%;
    }
    
    .cards-list {
        flex-wrap: wrap;
        gap: 15px;
    }

    .custom-card {
        flex: 0 0 auto;
        width: 31%;
    }

    .credit > * {
        display: block;
    }

    .modal-title {
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.02em;
        color: #EBEEF5;
    }
}