@media screen and (min-width: 360px) and (max-width: 560px) {

    .header-categories{
        width: 310px;
    }
    
    .cards-list {
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 auto;
        width: 48%;
    }

    .credit > * {
        display: block;
    }
}

@media screen and (min-width: 561px) and (max-width: 759px) {
    .header-categories{
        width: 320px;
    }
    
    .cards-list {
        flex-wrap: wrap;
        gap: 15px;
    }

    .card {
        flex: 0 0 auto;
        width: 31%;
    }

    .credit > * {
        display: block;
    }
}